name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install system packages
        run: |
          sudo apt update
          sudo apt install -y \
            zip unzip curl wget git \
            build-essential \
            libffi-dev libssl-dev zlib1g-dev

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Install Android SDK (FOR BUILDOZER)
        run: |
          set -e

          SDKROOT=$HOME/android-sdk
          BUILDOZER_SDK=$HOME/.buildozer/android/platform/android-sdk

          mkdir -p $SDKROOT/cmdline-tools
          cd $SDKROOT/cmdline-tools

          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
          unzip commandlinetools-linux-11076708_latest.zip
          mv cmdline-tools latest

          export PATH=$SDKROOT/cmdline-tools/latest/bin:$PATH

          yes | sdkmanager --licenses

          sdkmanager \
            "platform-tools" \
            "platforms;android-33" \
            "build-tools;33.0.2" \
            "ndk;25.2.9519653"

          mkdir -p $BUILDOZER_SDK
          cp -r $SDKROOT/* $BUILDOZER_SDK/

      - name: Verify AIDL exists
        run: |
          ls ~/.buildozer/android/platform/android-sdk/build-tools/33.0.2/aidl

      - name: Build APK
        run: |
          buildozer -v android debug
